* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #111111;
    /* color: white; */
    background-color: #E4E4E4;
    color: #111111;
    overflow-x: hidden;
}
.mouse-pointer-video-container{
    position: fixed;
    width: 300px;
    height: 300px;
    /* background-color: red; */
    border-radius: 15px;
    z-index: 10000;
}
.mouse-pointer-video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    z-index: 1000;
}
.mouse-pointer-dot{
    position: fixed;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: blue;
    z-index: 10000;
}
.page1{
    width: 100%;
    height: 100vh;
    position: relative;
}
.top-overlay{
    position: absolute;
    height: 0;
    width: 100%;
    background-color: white;
    transform: rotate(-10deg);
    transition: all 2s ease;
    z-index: 50;
    top: -150px;
}
header{
    height: 10vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    transition: all 2s ease;
    /* background-color: blue; */
    font-size:large;
    /* font-size: 10px; */
    padding: 0 50px;
}
/* .left-header{
    justify-self: flex-start;
} */
.header-child{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly ; */
    gap: 150px;
}
.menu{
    transition: all 2s ease;

}
/* nav{
    margin-left: 400px;
    margin-bottom: 10px;
} */
nav:hover{
    cursor: pointer;
}
main{
    /* position: absolute; */
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8em;
    transform: rotate(0);
    transition: transform 3s ease;
    /* transform: rotate(-45deg); */
}
.main-text{
    position: absolute;
    margin: 0 500px;
    transition: all 3s ease;
    transform: translate(0, 0);
}
.overlay{
    font-size: 8em;
    margin: 0 300px;
    position: absolute;
    transition: all 1.5s ease-in-out;
    /* transform: translateX(-1100px); */
    transform: translate(-1100px, -300px);
    z-index: 100;
}
